<!--Home page-->
	
	<h1> Welcome to Deal or No Deal! </h1>
	
	<p>
		<%=$welcomeMsg%>
    <p>
		
	<div class="game" id="gameDiv">
		
		<% $sequence.each each do |i|%>
		<div class = "allBoxes" id="allBoxes">
			<div id="boxDiv1">
				<input type="button" calss = "eachBox" id="box1"><>
			</div>
		</div>
		
		<div class="amounts" id="allAmounts">
	    
		</div>
	</div>