<% user = session.user %><br>
<% sequence = session.sequence.split(",") %><br>
<% selectedboxes = session.selectedboxes.split(",") %><br>
<% amounts = session.amounts.split(",") %><br>
<% chosenbox = session.chosenbox %><br>
<% selectedbox = session.selectedbox %><br>

<% case selectedboxes.length %>
<% when 0 %> 
	  <p>Choose the box you want to keep.</p>
	  stage = select box
	  reload page
<% when 21 %>
	  
<% else %>

<% end %>	