
    <h1>User Rankings</h1><br>
    
    <p>Users with best game score.</p>
    
    <div class="users"> 
        
        <div class="table_header">
        
            <div class="table_cell">Username</div>
                
            <div class="table_cell">Games Played</div>
			
			<div class="table_cell">Games Won</div>
			
			<div class="table_cell">Total Winnings</div>
                
        </div>
        
        <% @list4.each do |liste| %>   
        
            <div class="user">  
        
                <div class="table_cell"><%= liste.username %></div>
        
                <div class="table_cell"><%= liste.gamesWon %></div>
				
				<div class="table_cell"><%= liste.gamesPlayed %></div>
				
				<div class="table_cell"><%= liste.totalWinnings %></div>
            
            </div>   
     
        <% end %>
    
    </div>